/* Inserta tu código aqui */
.menu-nav{
	background-color: #2E2E2E;
	color:white;
}
.list-nav li{
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
}
.list-nav a:hover{
	color:white;
	background-color: #000000;
	transition:all 1s;
	transform:scale(1.5);
}
.container_fluid{
	background-color: #1abc9c;
	color: #ffffff;
	height: 480px;
}
.linea{
	display: inline-block;
	background-color: white;
	width: 70px;
	height: 5px;
}
.list-icons li{
	display: inline-block;
	text-align: center;
    
}
.linea1{
	background-color: black;
	width: 70px;
	height: 5px;
	display: inline-block;
}
#sociales div{
    display: inline-block;
}
#iconos{
	border-radius: 100%;


}
.footer{
	background-color: #2E2E2E;
	color:white;
}

/*aqui empieza blog */
#unic{
	color:#1abc9c;
}

.imag{
	width: 220px;
	text-align: center;
	margin-top: 15px;
}
.pagination{
	background-color: #1abc9c;
	color:white;
	margin-left: 30px;
}